docs/generated
docs/_build/
.pytest_cache
__pycache__
*.egg-info
.ipynb_checkpoints
*.pyc
/build
/dist
.coverage
coverage.xml
/coverage
htmlcov/
.vscode/
.venv
.idea
.ruff_cache
*.vmrk
*.eeg
*.vhdr
.ruff_cache
