include MANIFEST.in
include README.rst
include LICENSE
include CITATION.cff
include .mailmap

graft docs
graft pybv
graft specification

recursive-exclude pybv/__pycache__ *
recursive-exclude pybv/tests/__pycache__ *
recursive-exclude docs/_build *
recursive-exclude docs/generated *
recursive-exclude .github *
recursive-exclude specification *

exclude .readthedocs.yaml
exclude .git-blame-ignore-revs
exclude .pre-commit-config.yaml
exclude .gitignore
exclude Makefile
global-exclude *.pyc
