include MANIFEST.in
include README.rst
include LICENSE
include requirements-dev.txt
include CITATION.cff
include .mailmap
include .flake8

graft docs
graft pybv
graft specification

recursive-exclude pybv/__pycache__ *
recursive-exclude pybv/tests/__pycache__ *
recursive-exclude docs/_build *
recursive-exclude docs/generated *
recursive-exclude .github *

exclude .gitignore
exclude Makefile
global-exclude *.pyc
